* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.admin_content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

.admin_page {
  display: flex;
}
/* Dashboard */
.dashboard {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* User Announcement */
.anonce {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.Utilisateur {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
