.Logo{
    display: block;
    font-size: 1.75rem;
    color: #3A018F;
    font-weight: bold;
}

.Button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:5px;
    padding: 10px;
    background-color: #3A018F;
    color: white;
    border: none;
    border-bottom: 1px solid rgb(255,255,255,0.9);
    font-size: 1.1rem;
}


.Button:hover {
    cursor: pointer;
}


.Button:hover , .Button:focus{
    background-color: blue;
}

.Header{
    background-color: snow;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: center;
    padding: 10px;
}

.Nav{
    overflow-y: auto ;
    display: none;
    justify-content: flex-end;
    gap: 20px;
    overflow: scroll;
}


.icon {
    transform : scale(1.5);
}

.toggleButton{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40px;
    height: 40px;
    z-index: 1;
    color:#3A018F;
}

.toggleButton:hover{
    cursor: pointer;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }

    to{
        transform: translateX(0);
    }
}

.aside{
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    padding: 50px 0 0;
    width: 200px;
    min-height: 100vh;
    height: fit-content;
    background-color: #3A018F;
    z-index: 1;
    animation: slide .25s linear;
}



.aside > * {
    width: 100%;
}

@media (min-width : 700px ){

    .Nav{
        display: flex;
    }

    .Button{
        border-bottom: none;
    }

    .toggleButton{
        display: none;
    }

}