.inputWithLabel{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    gap: 5px;
}

.input{
    border: .1rem solid black;
    height: 40px;
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 10px;
}